@using KrastevNewsSystem.Models
@{
    ViewBag.Title = "Articles List Page";

}

@model IEnumerable<NewsArticleViewModel>

<h1>@ViewBag.Title</h1>

@foreach (var article in Model)
{
    @Html.Partial("_ArticleData", article)
}