@using KrastevNewsSystem.Models
@{
    ViewBag.Title = "News Stories List Page";
}

<h1>@ViewBag.Title</h1>

@model IEnumerable<ArticleKeywordViewModel>

@foreach (var keyword in Model)
{
    <div class="jumbotron">
        <p>
            <h3 class="text-center">@keyword.Keyword</h3>
            @*<div>Is Story: @keyword.IsStoryKeyword</div>*@
            @Html.ActionLink("All Story Articles",
                            "SearchByCriteria",
                            "ArticlesSearch",
                            new {
                                    freeTextSearchTerms = new List<string>(),
                                    keywrodsSearchTerms = new List<string>() { ""+keyword.KeywordId}
                                }, null)
        </p>
        <br />
    </div>
}
