@using KrastevNewsSystem.Models
@{
    ViewBag.Title = "Articles Search Results Page";

}

@model IEnumerable<NewsArticleViewModel>

<h1>@ViewBag.Title</h1>
@if (Model == null || Model.Count() < 1)
{
    <h3>No articles found tagged with this story</h3>
}
else
{
    foreach (var article in Model)
    {
        @Html.Partial("_ArticleData", article)
    }
}